*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.sky{
    border: 2px solid red;
    height: 100vh;
    background: url(img/background.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: absolute;
    top: 0px;
    width: 100%;
}

.tree{
    border: 2px solid green;
    background: url(img/trees.png);
    height: 100vh;
    width: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: absolute;
    top: -13vh;

}

.track{
    border: 3px solid blue;
    height: 200px;
    width: 800vw;
    background: url(img/track.png);
    /* background-size: cover; */
    position: absolute;
    top: 92vh; 
    position: absolute;
    top: 73vh;
    animation: trackMove linear 5s infinite;
}

.car{
    height: 113px;
    width: 380px;
    top: 456px;
    left: 342px;
    background: url(img/car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    animation: carShake linear 1s infinite;
   
}

#wheel-l{
    height: 73px;
    width: 73px;
    top: 46px;
    left: 49px;
    background: url(img/car_wheel_left.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* animation: rotation;
    animation-duration: 0.6s;
    animation-iteration-count: infinite; */
    animation: rotation linear .6s infinite;
}

#wheel-r{
    height: 71px;
    width: 70px;
    top: 50px;
    left: 251px;
    background: url(img/car_wheel_left.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    animation: rotation linear .6s infinite;
}

@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carShake {
    
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

@keyframes trackMove{
    100%{
        transform: translatex(-500vw);
    }
}



